<div class="dashboard-account-summary bg-white pl-4 shadow">
    <div class="font-weight-bold pt-2 ">Account Summary</div>
    <table class="table table-borderless mb-0">
        <tbody>
            <td>
                <div class="d-flex flex-row align-items-center">
                    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg" class="rounded-circle" width="50px" height="50px" />
                    <div class="d-flex flex-column align-items-start pl-2">
                        <div class="pl-2 title">Account Holder Name</div>
                        <div class="pl-2 text-dark font-weight-bold subtitle">John</div>
                    </div>
                </div>
            </td>

            <td>
                <div class="d-flex flex-column align-items-start pl-2">
                    <div class="pl-2 title">Account Number</div>
                    <div class="pl-2 text-dark font-weight-bold subtitle">
                        96107104093
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex flex-column align-items-start pl-2">
                    <div class="pl-2 title">Branch</div>
                    <div class="pl-2 text-dark font-weight-bold subtitle">
                        Riyadh,Saudi Arabia
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex flex-column align-items-start pl-2">
                    <div class="pl-2 title">Account Balance</div>
                    <div class="pl-2 text-color">21,234 INR</div>
                </div>
            </td>
        </tbody>
    </table>
</div>