<script>
  loadCss("screens/dashboard/css/bills.css");
</script>
<div class="d-flex flex-column flex-fill bg-white p-2 shadow bill-card">
  <p id="dashboard-bills-p">Bills & Other Payments</p>
  <div class="d-flex flex-column flex-fill dashboard-bills-listed">
    <a href="#" class="bill-items">
      <div class="d-flex flex-row align-items-center justify-content-between bill-item-row">
        <div class="d-flex flex-row align-items-center content-division">
          <i class="bi bi-cash-coin bill-icons mr-4"></i>
          <div class="text-dark">Loan</div>
        </div>
        <i class="fa fa-angle-right arrow"></i>
      </div>
    </a>
  </div>
  <div class="d-flex flex-column flex-fill dashboard-bills-listed">
    <a href="#" class="bill-items">
      <div class="d-flex flex-row align-items-center justify-content-between bill-item-row">
        <div class="d-flex flex-row align-items-center content-division">
          <i class="bi bi-umbrella bill-icons mr-4"></i>
          <div class="text-dark">Insurance</div>
        </div>
        <i class="fa fa-angle-right arrow"></i>
      </div>
    </a>
  </div>
  <div class="d-flex flex-column flex-fill dashboard-bills-listed">
    <a href="#" class="bill-items">
      <div class="d-flex flex-row align-items-center justify-content-between bill-item-row">
        <div class="d-flex flex-row align-items-center content-division">
          <i class="bi bi-phone bill-icons mr-4"></i>
          <div class="text-dark">Mobile</div>
        </div>
        <i class="fa fa-angle-right arrow"></i>
      </div>
    </a>
  </div>
  <div class="d-flex flex-column flex-fill dashboard-bills-listed">
    <a href="#" class="bill-items">
      <div class="d-flex flex-row align-items-center justify-content-between bill-item-row">
        <div class="d-flex flex-row align-items-center content-division">
          <i class="bi bi-lightbulb bill-icons mr-4"></i>
          <div class="text-dark">Electricity</div>
        </div>
        <i class="fa fa-angle-right arrow"></i>
      </div>
    </a>
  </div>
</div>